@import "tailwindcss";

@theme {
  /* Brand */
  --color-primary: #ffb100;
  --color-primary-hover: #ffbd2e;

  /* Text */
  --color-text: #1f2937;
  --color-text-white: #ffffff;
  --color-text-secondary: #6b7280;
  --color-text-muted: #9ca3af;

  /* Background */
  --color-background: #ffffff;
  --color-background-img: #e5e7eb;

  --color-background-secondary: #6b7280;
  --color-background-dark: #1f2937;

  /* Borders */
  --color-border: #e5e7eb;

  /* Links */
  --color-link: #6b7280;
  --color-link-hover: #1f2937;

  /* Header */
  --color-header-link: #9ca3af;
  --color-header-link-hover: #1f2937;

  /* Accent */
  --color-accent: #ffb100;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-manrope), sans-serif;
}

button {
  cursor: pointer;
}

a {
  color: var(--color-link);
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

.link {
  position: relative;
  color: var(--color-header-link);
  transition: color 0.2s ease;
}

.link:hover {
  color: var(--color-text);
}

.link-active {
  color: var(--color-text);
}

.link-active::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -15.5px;
  width: 40px;
  height: 2px;
  border-radius: 2px;
  background: var(--color-primary);
  transform: translateX(-50%);
}

.hero-bg {
  background-image: url("/image/hero-banner.jpg");
  background-size: cover;
  background-position: center;
}
